body {
    background-color: rgb(223, 231, 225);
}
h1 {
    font-size: 100px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
p {
    font-size: 50px;
}